@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
}

* {
    transition: 0.5s;
}

html {
    background-color: rgb(31 41 55);
}

.border-gradient {
    position: relative;
}

.border-gradient::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, skyblue, #ef2c2f);
    background-size: 200% 100%;
    animation: gradient-animation 6s infinite linear;
}
@keyframes gradient-animation {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 0;
    }
}

/* BARRA DE ROLAGEM */
::-webkit-scrollbar {
    width: 4px;
    height: 7px;
}

::-webkit-scrollbar-track {
    background: rgb(92, 102, 117);
}

::-webkit-scrollbar-thumb {
    background: rgb(31, 35, 42);
    border-radius: 25px;
}

::-moz-scrollbar {
    width: 1px;
}

::-moz-scrollbar-track {
    background: var(--BL3);
}

::-moz-scrollbar-thumb {
    background: var(--BL2);
}

/* GRADIENT TRANSPARENT */
.bg-transparent {
    background-image: linear-gradient(to bottom, transparent 0%, white 100%);
}
